:root {
    --color-grey: #999;
    --color-light-grey: #EEE;
    --color-red: #f44;
}

.localeTable {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: left;
    p:first-child {
        margin-top: 0;
    }

    td, th {
        padding: 5px 15px;
        vertical-align: top;
    }

    tbody td {
        /*border: solid var(--color-grey);*/
    }

    th {
        font-weight: bold;
        text-align: center;
    }

    .overridden-true {
        /*color: var(--color-red);*/
    }


}

.snippet {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-grey);
    font-style: italic;

    &::before {
        content: "";
        border-left: 2px solid var(--color-grey);
        margin-right: 5px;
    }
}

.helperText {
    color: var(--color-grey);
    font-weight: normal;

    &.required-true {
        font-weight: bold;
    }
}

.warning {
    color: var(--color-red);
}

code {
    background: var(--color-light-grey);
    padding: 0 5px;
}